USE [master]
GO
/****** Object:  Database [GestionUsuarios]    Script Date: 15/3/24 12:06:20 ******/
CREATE DATABASE [GestionUsuarios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionUsuarios', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GestionUsuarios.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionUsuarios_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GestionUsuarios_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionUsuarios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionUsuarios]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 15/3/24 12:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[rl_id] [int] IDENTITY(1,1) NOT NULL,
	[rl_nombre] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles_usuarios]    Script Date: 15/3/24 12:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles_usuarios](
	[rlu_id] [int] IDENTITY(1,1) NOT NULL,
	[rlu_usr_id] [int] NULL,
	[rlu_rl_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[rlu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 15/3/24 12:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[usr_id] [int] IDENTITY(1,1) NOT NULL,
	[usr_nombre] [varchar](45) NOT NULL,
	[usr_apellido] [varchar](45) NOT NULL,
	[usr_email] [varchar](150) NOT NULL,
	[usr_pais] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[roles_usuarios]  WITH CHECK ADD  CONSTRAINT [fk_Roles] FOREIGN KEY([rlu_rl_id])
REFERENCES [dbo].[roles] ([rl_id])
GO
ALTER TABLE [dbo].[roles_usuarios] CHECK CONSTRAINT [fk_Roles]
GO
ALTER TABLE [dbo].[roles_usuarios]  WITH CHECK ADD  CONSTRAINT [fk_Usuario] FOREIGN KEY([rlu_usr_id])
REFERENCES [dbo].[usuarios] ([usr_id])
GO
ALTER TABLE [dbo].[roles_usuarios] CHECK CONSTRAINT [fk_Usuario]
GO
USE [master]
GO
